.elements__list {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 282px);
    grid-gap: 18px 20px;
    width: 100%;
    justify-content: center;
    margin: 0;

}

@media screen and (max-width: 935px) and (min-width: 651px) {
    .elements__list {
        grid-template-columns: repeat(2, 282px);
    }
}

@media screen and (max-width: 650px) and (min-width: 300px) {
    .elements__list {
        grid-template-columns: repeat(1, 282px);
        grid-gap: 20px;
    }
}